
body {
	font-family:"Myriad Pro", Tahoma, Geneva, sans-serif;
	font-size:11px;
	background:#075F95;
	height:auto;
	
	min-height:500px;

}

img { border:0; }
div { margin:0; padding:0; }
#all {
	/*background:#075F95;*/
	background:green;
	margin: auto auto;
	height:800px;
	width:970px;
	min-width:970px;
	min-height:800px;
	padding: 50px;
	position:relative,

	}
#header {
background: white;
	position:relative;
}

.wrapper-top {

	margin:0 0 0 0;
	clear:both;
	width:100%;
	overflow:hidden;
}
#logo {

	float:left;
	position:relative;
	width:970px;
	height:200px;
	text-align:center
	}
.wrapper-top2 {
background: olive;
	float:right;
	position:relative;	
	width:705px;
	overflow:hidden;
}

#header-form {
background: pink;
	float:right;
	position:relative;	
	width:225px;
	text-align:right;
}


	
#main-menu { 
	margin:5px 0;
	position:relative;
	background:#000 url("../images/bg-mainmenu.gif") repeat-x;
	height:34px;
	font-size:14px;
	clear:both;
}


#destacados{
background: brown;
margin:20px 0 0 0 ;
float:left;
width:450px;
height:600px;
background:#000;
}
#section{

margin:20px 0 0 0 ;

float:right;
width:450px;
height:600px;

}


div#destacados .destacados-slides{
position:relative;
overflow:hidden;
width:448px;
height:598px;
border:4px solid #333;
}


#end {
text-align:right;
float:right;
width:200px;
height:70px;
}
#registro {
text-align:right;
float:left;
width:200px;
height:70px;
}

#end2 {

float:left;
width:200px;
height:70px;
margin-top:100px ;
}
#end3 {

float:right;
width:200px;
height:200px;
margin-top:30px ;
margin-right:20px ;
}

#end4 {

position:relative;
width:200px;
height:200px;
margin-top:315px ;

}

#cartelera{
float:right;
}
#reserva{
background:#075F95;
	
	height:auto;
	width:970px;
	min-width:800px;
	max-width:800px;
margin: auto auto;
padding: 1em 3em;

}

	
/*menu lateral*/
*{
	margin:0px;
	padding:0px;
	font-family: verdana;

}


div#barra-lateral{
	position:fixed;
	width:65px;
	height:100%;
	background-color:#2f3030;
	overflow:hidden;
	-webkit-transition:width 0.5s cubic-bezier(.61,.01,.37,1);
}

div#barra-lateral:hover{
	width:170px;
}

div#logo-menu{
	width:40px;
	height:40px;
	margin:10px;
	background-image:url(../img/menu.png);
}

div#contenedor-logos-primero{
	margin-top:70px;
}

div.contenedor-logos{
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:40px;
	
}

div.logo{
	width:40px;
	height:40px;
	background-image:url(../img/menu.png);
	float: left;
}

p.title-menu{
	margin-left:60px;
	line-height: 40px;
}

#heroe {
	width: 270px;
	height: 400px;
}
#noche {
	width: 270px;
	height: 400px;
}
#tomorrowland {
	width: 270px;
	height: 400px;
}
#cartelera {
	color: blue;
}
a {
color: white;
}

h1{
	color: white;
}
h2{
	color: white;
}
h3{
	color: white;
}
#verhorarios {
	text-align: center;
}
#librodereclamaciones {
	font-size: 30px;
	text-align: center;
}
#libro {
	background-color: black;
	color:white;
}

#peliculas {

	width: 270px;
	height: 50px;
}

#usuarios {
background:#642EFE;
	float:right;
}

#empleados {
background:#642EFE;
	float:left;
}

#otro {
background:#642EFE;
float:left;
margin-top:20px;
}